<section id="logo">
   <h1>Eat-Da-Burger</h1>
</section>


<main class="wide">
   <div class="container">
      <section class="here">
         <h2>on your table</h2>
      </section>
      <section class="gone">
         <h2>gone</h2>
      </section>
   </div>
</main>

{{!-- button --}}