:root {
   --p1: #D97904;
   --p2: #F2B705;
   --s1: #D92B04;
   --s2: #8C0E03;
   --ex: #618C03;
   --wt: #f2f2f2;
}

* {
   box-sizing: border-box;
}

html {
   font-size: 10px;
   background: url(../img/burger.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   height: 100vh;
}

h1 {
   font-family: 'Days One', sans-serif;
   font-size: 6rem;
   text-align: center;
   color: #f2f2f2;
}

h2{
   font-family: 'Crete Round', serif;
   font-size: 2rem;
   text-align: center;
   letter-spacing: 0.25rem;
   word-spacing: 0.25rem;
   background-color: var(--s2);
   color: var(--wt);
   padding: 1.5rem;
   border-top-left-radius: 2rem;
}

p, a {
   font-family: 'Crete Round', serif;
   font-size: 1.75rem;
}

a {
   text-decoration: none;  
   text-align: center;
}

/* MAIN */
#logo {
   width: 30%;
   margin: 0 auto;
   display: grid;
   justify-items: center;
   align-items: center;
}

#logo img {
   width: 20rem;
   border-radius: 50%;
   margin: 2rem auto;
}

.container {
   width: 95%;
   margin: 0  auto;
   margin-bottom: 3rem;
   padding: 2rem;
   background-color: rgba(216, 121, 4, 0.5);
   border-top-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: auto auto;
   grid-gap: 2rem;
}

.here, .gone {
   background-color: rgba(242, 242, 242, 0.5);
   border-top-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   height: 100%;
}

.each-line {
   padding: 2rem;
   display: grid;
   grid-template-columns: 2fr 1fr;
   align-items: center;
   grid-gap: 1rem;
}

.each-line a {
   background-color: var(--s1);
   color: var(--wt);
   padding: 1rem;
   border-radius: 0.5rem;
}

/* CREATE */
.create-form {
   grid-area: 2 / 1 / 3 / 3;
   display: grid;
   grid-template-columns: 3fr 1fr;
   grid-gap: 2rem;
   align-items: center;
}

.create-form input {
   font-family: 'Crete Round', serif;
   font-size: 2rem;
   text-align: center;
   letter-spacing: 0.25rem;
   background-color: rgba(242, 242, 242, 0.5);
   color: var(--s2);
   width: 100%;
   padding: 1rem;
   border: none;
   border-top-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
}

button {
   font-family: 'Crete Round', serif;
   font-size: 1.75rem;
   background-color: var(--s1);
   color: var(--wt);
   width: 100%;
   padding: 1rem;
   border: none;
   border-top-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   box-shadow: 0 0 5px var(--s2);
}

button:hover {
   background-color: var(--p1);
   color: var(--s2);
   box-shadow: inset 0 0 5px var(--s2);
}



/* MEDIA QUERY */
@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (max-width: 992px) {
   html {
   background-position: top center;
   }
}
@media (min-width: 1200px) {}


/* FONTS */
/*
font-family: 'Crete Round', serif;
font-family: 'Days One', sans-serif;
*/

/* COLORS */
/* Color Theme Swatches in Hex */
.Variety-of-spices-and-herbs-on-kitchen-table-1-hex { color: #618C03; }
.Variety-of-spices-and-herbs-on-kitchen-table-2-hex { color: #F2B705; }
.Variety-of-spices-and-herbs-on-kitchen-table-3-hex { color: #D97904; }
.Variety-of-spices-and-herbs-on-kitchen-table-4-hex { color: #D92B04; }
.Variety-of-spices-and-herbs-on-kitchen-table-5-hex { color: #8C0E03; }

/* Color Theme Swatches in RGBA */
.Variety-of-spices-and-herbs-on-kitchen-table-1-rgba { color: rgba(96, 140, 2, 1); }
.Variety-of-spices-and-herbs-on-kitchen-table-2-rgba { color: rgba(242, 182, 4, 1); }
.Variety-of-spices-and-herbs-on-kitchen-table-3-rgba { color: rgba(216, 121, 4, 1); }
.Variety-of-spices-and-herbs-on-kitchen-table-4-rgba { color: rgba(216, 43, 4, 1); }
.Variety-of-spices-and-herbs-on-kitchen-table-5-rgba { color: rgba(140, 14, 2, 1); }
.Variety-of-spices-and-herbs-on-kitchen-table-5-rgba { color: rgba(242, 242, 242, 1); }